body {
    background-color: #EAE2B7;
    font-size: 20px;
    font-family: roboto sans-serif;
}

#content {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttons {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

#buttons > button {
    width: 200px;
    height: 50px;
    margin: 16px;
    border-radius: 5px;
    background-color: #003049;
    color: #FCBF49;
    font-size: 30px;
    font-weight: bold;
}

#buttons > button:active {
    background-color: #F77F00;
    color: #003049;
}

#round {
    color: #D62828 !important;
    font-size: 30px;
    font-weight: bold;
}

#result {
    text-align: center;
    border: 2px dashed #003049;
    width: 500px;
}

#result > div {
    margin: 8px;
    color: #003049;
}

.winner {
    color: #D62828 !important;
    font-weight: bold;
}
